/******************** CSS vertikalni tabovi ********************/

* {margin: 0; padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.5;
    padding: 10px;
    text-indent: 20px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 620px;
    margin: 5px auto;
}

/* ******************************************************
	Header
*********************************************************/
header {
  display: block;
}

.Header {
  float: left;
  width: 100%;
  padding: 0.5em 0;
}

.Header h1{
	font-family: Arial, sans-serif;
    color: #6a4aed;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
}

div.header-line{
  box-sizing: border-box;
  margin: 0 auto;
  width: 25rem;
  background: white;
  padding: 30px;
  /*padding-bottom: 60px;*/
  margin: 0 auto;
  text-align:center;
}

.full-width-header {
  position: relative;
  margin: 0 -30px;
  padding: .25rem 30px;
  background: white;
  color: white;
  font-size: 1.125rem;
}

.full-width-header::before, .full-width-header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 960px;
  right: 100%;
  background: red;
}

.full-width-header::after {
  width: 960px;
  left: 100%;
  background: blue;
}

/****
Content
***/
.content{
	line-height: 28px;	
}

/**** 
Tabovi
****/
.tabs-container{
   position: relative;
   background: #333;
   border-radius: 10px;
   width: 120px;
   height: 100vh;
   float: left;
   z-index: 20;
   font-weight: bold;
}

/* imena tabova */
.tabs-container label{
   position: relative;    /* postavljamo poziciju na relativnu poziciju od nadređenog elementa */
   padding: 10px;         /* proširujemo sam menu element po našim potrebama */
   border-bottom: 1px solid rgb(160, 163, 155);  /* ispod svakog elementa postavljamo obrub */
   display: block;        /* želimo da svaki element zauzima cijelu širinu menija */
   font-size: 13px;       /* veličina fonta u menuju */
   color: whitesmoke;   /* postavljamo boju teksta*/
   cursor: pointer;       /* postavljamo kursor */
   user-select: none;     /* Označava da li tekst može biti označen */
}


/* Content area for tabs */
.tab-content{
   position: relative;
   background: #444;
   border-radius: 10px;
   width: calc(100% - 120px); /* Kalkuliramo širinu u odnosu na širinu koju smo definirali za širinu menija */
   min-height: 100vh;
   padding: 15px;
   float: left;
   box-sizing: border-box;
   z-index: 19;
   display: none;
   color: seashell;
}

.tab-content:after{
   content: "";
   clear: both;
}

/* Hover efekt */
.tabs-container label:hover{
  background: #444;
  border-radius: 10px;
}

 /* Sakrij radio optione od korisnika */
input[name="tab"]{
  display: none;
}

 /* prikaži tab kada je input označen sa checked */
input[name="tab"]:checked + .tab-content{
    display: block;
    animation: slide 0.5s forwards;
}

/* Slide animacij apojavljivanja za sadržaj taba */
@keyframes slide{
    from{
        left: -100%;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}



