* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    transition:all .1s linear;
}
body {
    overflow-x: hidden;
    background-color: wheat;
}
.user img{
    width: 300px;
    border-radius: 50%;
    border:solid tomato 8px

}
.user img:hover {
    scale: 1.1;
    cursor: pointer;
}
header h3, p {
    font-size: 1.5em;
    margin: 15px 0;
}
header h3 {
    text-transform: uppercase;
}
header {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  rgb(192, 175, 142);;
    text-align: center;
    border-radius: 10px;
    
    
}

header a {
    text-decoration: none;
    margin: 5px auto;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: tomato;
    opacity: 80%;
    padding: 10px;
    width: 125px;
    
}
header a:hover{
    background-color: rgb(206, 113, 79);
    border-radius: 20%;
}
#home, #about, #education, #portfolio, #contact {
    margin-left: 400px;
}

#home h3 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 50px;
    color: tomato;
    opacity: 70%;
}
#home h1 {
    text-align: center;
    color: tomato;
    margin:20px;
    font-size: 3em;
}
#home span {
    color: black;
    font-size: 1.5em;
}